.page-id-1955 header,
.page-id-1955 footer {
  display: none;
}

.page-id-1955 .footer {
  display: block;
}

.page-id-1955 {
  padding: 0 !important;
}

.header-menu .blue-back {
  padding: 20px 0;
}

.main-menu ul li:hover a {
  color: #215a97;
}

.subtitle,
.aservice__img--text__link,
.acontact__img--text h2 span,
.ateam__text--title:hover,
.aportfolio__img--icon a,
.aprice-bg:hover .aprice__price--wrapper h2,
.aprice-bg:hover .aprice__price--wrapper span,
.atestimonial-active .slide-prev:hover,
.atestimonial-active .slide-next:hover,
.ablog__meta ul li a:hover,
.ablog__meta ul li a:hover,
.emg__number h5,
.widget__subscribe .field::after,
.header-top-right ul li i,
.main-menu ul li:hover a,
.main-menu ul li .sub-menu li:hover > a,
.language:hover,
.language .language-dropdown a:hover,
.section-title span,
.ablog__text--title:hover,
.section-title.text-white span,
.aservice__list--text__title:hover,
.aservice__list--icon i,
.aportfolio__text--title:hover,
.afaq__text .accordion-button:not(.collapsed),
.afaq__text .accordion-button:not(.collapsed)::after,
.afact--text__title2 h2,
.ablog__user--title h5:hover,
.header--terms a:hover,
.header__widget--icon i,
.aslider--date span,
.awork__text--title:hover,
.awork__text--link a:hover,
.afeature__text--title:hover,
.atestimonial__3--text__rating i,
.recent-posts-footer .widget-posts-title:hover,
.ateam__3--title:hover,
.service__sidebar--widget__links li:hover a,
.service__sidebar--widget__links li a i,
.service__sidebar--widget__info .service__sidebar--widget__info--icon i,
.service-details-list li::before,
.choose--feature__icon i,
.choose--feature__text--title:hover,
.service__sidebar--widget__title span,
.sidebar--widget__search form button,
.sidebar__post--title:hover,
.ablog__sidebar .widget ul li a:hover,
.ablog__sidebar .widget ul li a::before,
.sidebar--widget__search form button:hover,
.ablog__text--title4:hover,
.ablog__meta span i,
.ablog__meta span a:hover,
blockquote::before,
.logged-in-as a:hover {
  color: #215a97;
}

.aslider--video__wrapper .aslider--video__icon,
.theme-bg,
.custom-service-tab .nav-link.active .aservice,
.aservice__img--text::before,
.acontact__form,
.ateam__img--social ul,
.aportfolio-menu button.active,
.aportfolio:hover .aportfolio__inner--text,
.aportfolio__img--icon a:hover,
.aprice__list ul li:hover i,
.footer__widget--title::before,
.copyright__social a::before,
.header-top::before,
.header-top-left,
.header-right ul li span i,
.main-menu nav ul li .sub-menu li a::before,
.appoint-cta-space input.wpcf7-form-control.wpcf7-submit.theme-btn,
.aabout__since,
.avideo-btn a,
.blog__date2,
.anewsletter--bg,
.header-top-left-3 span i,
.subtitle-border::before,
.subtitle-border::after,
.awork__text--link a:hover::before,
.awork__text--link a:hover::after,
.awork__img--overlay i,
.afeature:hover .afeature__icon i,
.ateam__3 .ateam__3--overlay__social a:hover,
.atestimonial__3--client::before,
.atestimonial__3::after,
.page-title .trail-items,
.theme-btn,
.service__sidebar--widget__btn a,
.choose--fact:hover .choose--fact__icon,
.sidebar__widget--title::before,
.tagcloud a:hover,
.basic-pagination ul li span.current,
.basic-pagination ul li a:hover,
blockquote cite::before,
.blog__deatails--tag a:hover,
.theme-btn.theme-btn-blue:hover,
.slider-active .slide-next:hover {
  background: #215a97;
}

.custom-service-tab .nav-link.active .aservice,
.aservice__img--text__link::before,
.blog__date,
.aportfolio-menu button.active,
.aprice__list ul li:hover i,
.widget__subscribe .field input:focus,
.main-menu ul li .sub-menu,
.language .language-dropdown,
.afeature:hover .afeature__icon,
.choose--fact:hover .choose--fact__icon,
.tagcloud a:hover,
.blog__deatails--tag a:hover,
.post-input textarea:focus,
.post-input input:focus {
  border-color: #215a97;
}

.main-menu > nav > ul > li.menu-item-has-children a::after {
  content: "";
}

header {
  display: none;
}

.d-show {
  display: block;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
}

.main-menu ul li a {
  padding: 0;
}

[data-component="confirmation-footer"],
.page-title-area {
  display: none !important;
}

.blue-divider {
  border-top: 5px solid #0f4d8f;
  margin: 0;
  max-width: none;
  opacity: 1;
  width: 100%;
}

.btn-full-blue {
  background-color: #0f4d8f;
  border: 1px solid #0f4d8f;
  border-radius: 34px;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 40px;
  max-width: 100%;
  padding: 20px 35px;
  text-transform: uppercase;
  transition: 1s all ease;
  width: 260px;
}

.btn-full-blue:hover {
  background-color: transparent;
  border: 1px solid #0f4d8f;
  color: #0f4d8f;
}

.btn-full-gray {
  background-color: #dedede;
  border: 1px solid #dedede;
  border-radius: 34px;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 40px;
  max-width: 100%;
  padding: 20px 35px;
  text-transform: uppercase;
  transition: 1s all ease;
  width: 260px;
}

.btn-full-gray:hover {
  background-color: transparent;
  border: 1px solid #dedede;
  color: #dedede;
}

p {
  max-width: 650px;
}

.title-big {
  color: #000000;
  font-family: "Noto Sans", sans-serif;
  font-size: 6em;
  font-weight: bold;
  letter-spacing: 0px;
}

.subtitle-big {
  color: #000000;
  font-family: "Noto Sans", sans-serif;
  font-size: 4.8em;
  font-weight: 400;
  letter-spacing: -0.48px;
}

.text {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.4em;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.text-alt {
  font-family: "Noto Sans", sans-serif;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.small-text {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.regular-text {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.text-big {
  font-family: "Noto Sans", sans-serif;
  font-size: 4.8em;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.2;
}

.headline-1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 6em;
  font-weight: bold;
  margin-bottom: 48px;
  max-width: none;
}

.headline-2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 4.8em;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 32px;
  max-width: none;
}

.headline-3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.4em;
  font-weight: bold;
  margin-bottom: 24px;
  max-width: none;
}

.subtitle-1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 16px;
  max-width: none;
}

.subtitle-2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 16px;
  max-width: none;
}

.action-1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 24px;
}

.action-2 {
  color: #0f4d8f;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 24px;
}

.extra-small-text {
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}

.medium {
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}

.white-text {
  color: #ffffffde;
}

.black-text {
  color: #000000de;
}

.blue-text {
  color: #0f4d8f;
}

.gray-text {
  color: #dedede;
}

.center-vertical {
  align-items: center;
  display: flex;
}

.centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

.order-column {
  flex-direction: column;
}

.flex-start {
  align-items: flex-start !important;
}

.blue-light-back {
  background-color: #00b7d1;
}

.blue-back {
  background-color: #215a97;
}

.gray-back {
  background-color: #818282;
}

.gray-light-back {
  background-color: #dedede;
}

.gray-lighter-back {
  background-color: #eeeeee;
}

.black-back {
  background-color: #000000de;
}

.white-back {
  background-color: #ffffff;
}

.home .carousel-1,
.home .carousel-2,
.home .carousel-3 {
  background: #eeeeee;
  background-image: url("https://mlqxpvh6earq.i.optimole.com/w:auto/h:auto/q:mauto/process:2940/id:f1643e7fb054fe53ab550bb90c85c7ba/https://brsmechanicalsd.com/Portada-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 100px 0;
}

.home .carousel-2 {
  background-image: url("https://mlqxpvh6earq.i.optimole.com/w:auto/h:auto/q:mauto/process:2941/id:325b43ba07d113f5328f9350dca69738/https://brsmechanicalsd.com/Portada-02.jpg");
}

.home .carousel-3 {
  background-image: url("https://mlqxpvh6earq.i.optimole.com/w:auto/h:auto/q:mauto/process:2936/id:257e6ecb819a7182f2eda71c953ca5b3/https://brsmechanicalsd.com/Portada-03.jpg");
}

.what-we-do .hero,
.about .hero,
.blog .hero,
.faqs .hero,
.contact .hero {
  background-image: url("https://brsmechanicalsd.com/wp-content/uploads/2022/brsmechanical/banner_header.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog .hero .headline-1,
.blog .hero .subtitle-1,
.blog .hero .small-text {
  color: #ffffffde !important;
}

.about .dedicated {
  background-image: url("https://brsmechanicalsd.com/wp-content/uploads/2022/brsmechanical/about_hero.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .home .row {
  align-items: center;
}

.home .home .btn-full-blue {
  margin-top: 40px;
}

.home .home .carousel ul {
  padding-left: 25px;
}

.home .home .carousel .image-wrapper {
  align-items: center;
  display: grid;
  flex-direction: column;
  gap: 30px;
  justify-items: center;
}

.carousel-control-next,
.carousel-control-prev {
  display: none !important;
}

.carousel-indicators {
  bottom: -65px;
}

.carousel-indicators li {
  background-color: #0f4d8f;
  border-bottom: none;
  border-radius: 100px;
  border-top: none;
  height: 12px;
  width: 12px;
}

/* .home ul {
  padding-left: 20px;
} */

.home .home li,
.about .over li {
  color: #000000de;
  font-family: "Noto Sans", sans-serif;
  font-size: 2em;
  font-weight: 600;
}

.home .home ul li::marker,
.about .over li::marker {
  color: #0f4d8f;
}

/* .home .home .img-hero {
  background: #818282;
  border: none;
  border-radius: 34px;
  height: 160px;
  width: 100%;
} */

.home .home .image-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home-services {
  background-color: #dedede;
  padding: 100px 0;
}

.home-services .services-wrapper {
  grid-gap: 40px;
}

.home-services img {
  border-radius: 34px;
}

.home-services .column-wrapper {
  padding: 15px;
}

.reviews-divided .half-wrapper {
  background-color: #818282;
  border-radius: 34px;
  height: 160px;
  width: 160px;
}

.reviews-divided .elements-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.home .reviews-divided .elements-wrapper p {
  margin: 0;
  max-width: 650px;
  width: fit-content;
}

.reviews-divided .elements-wrapper p {
  max-width: 650px;
  width: fit-content;
}

.reviews-divided .fa-star {
  color: #f9a719;
  font-size: 2em;
}

.reviews-divided .star-wrapper.divided-wrapper {
  align-items: center;
  display: flex;
}

.reviews-divided .star-wrapper.divided-wrapper p {
  margin: 0;
}

.reviews-divided .star-wrapper.divided-wrapper .fa-star {
  margin: 0 7.5px;
}

.white-divided {
  border-bottom: 2px solid #707070;
  margin-bottom: 50px;
  max-width: none;
}

.reviews-divided .home_review_back {
  background-image: url("https://brsmechanicalsd.com/wp-content/uploads/2022/brsmechanical/home_review_stars.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reviews-divided .home_review_back2 {
  background-image: url("https://brsmechanicalsd.com/wp-content/uploads/2022/brsmechanical/home_reviews.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-wrapper {
  padding: 80px 0;
}

.services-wrapper .services-grid {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 60px;
  grid-template-columns: repeat(3, 1fr);
}

.services-wrapper .services-grid div {
  background-color: #017dd8;
  border-radius: 34px;
  height: 624px;
  width: 100%;
}

.no-p {
  padding: 0;
}

.call-for {
  padding: 80px 0;
}

.call-for p {
  margin-left: auto;
  margin-right: auto;
}

.call-for.white-back p {
  color: #000000de;
}

.maintenance {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 80px 0 0 0;
}

.maintenance .logo {
  margin-bottom: 5em;
}

.maintenance .regular-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  text-align: center;
}

.maintenance .footer {
  padding: 80px 0;
}

.maintenance .footer a {
  word-break: break-all;
}

.maintenance .footer a:hover,
.header-menu .d-flex-section a:hover {
  color: #ffffffde;
}

.maintenance .d-flex-section,
.header-menu .d-flex-section {
  align-items: center;
  display: flex;
  justify-content: center;
}

.maintenance .icon-wrapper,
.header-menu .icon-wrapper {
  align-items: center;
  background: #e4e4e4;
  border-radius: 100px;
  display: flex;
  height: 7em;
  justify-content: center;
  margin-right: 1.5em;
  padding: 15px;
  width: 7em;
}

.maintenance .icon-wrapper i,
.header-menu .icon-wrapper i {
  color: #0f4d8f;
  font-size: 4em;
}

.maintenance p {
  margin: 0;
}

.what-we-do .hero,
.about .hero,
.blog .hero,
.faqs .hero,
.contact .hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 0;
  text-align: center;
}

.what-we-do .services-wrapper {
  padding: 0;
}

.what-we-do .services-wrapper .regular-text {
  max-width: 650px;
}

.what-we-do .services-wrapper .center-vertical {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px;
  text-align: left;
}

.what-we-do .services-wrapper .center-vertical .headline-2,
.what-we-do .services-wrapper .center-vertical .button-wrapper {
  max-width: 100%;
  text-align: left;
  width: 650px;
}

.what-we-do .services-wrapper .btn-full-blue {
  margin-top: 66px;
}

.maintenance-form .nf-form-title,
.maintenance-form .nf-form-fields-required,
.maintenance-form .ninja-forms-req-symbol {
  display: none !important;
}

.maintenance-form .nf-form-content {
  position: relative !important;
}

.maintenance-form .submit-container {
  /* margin: 0 !important;
  position: absolute !important;
  right: 0 !important;
  top: 5px !important; */
}

.maintenance-form .nf-field-element {
  width: 100% !important;
}

.maintenance-form {
  margin: auto !important;
  margin: 35px auto 80px auto !important;
  max-width: 650px !important;
}

.home .maintenance-form {
  margin: 0 auto 50px auto !important;
}

.maintenance-form input {
  background: #eeeeee !important;
  border: none !important;
  border-radius: 25px !important;
  color: #818282 !important;
  font-family: "Noto Sans", sans-serif !important;
  font-size: 1.6em !important;
  height: 49px !important;
  opacity: 1 !important;
  padding: 0 30px !important;
}

.maintenance-form textarea {
  background: #eeeeee !important;
  border: none !important;
  border-radius: 25px !important;
  color: #818282 !important;
  font-family: "Noto Sans", sans-serif !important;
  font-size: 1.6em !important;
  opacity: 1 !important;
  padding: 10px 30px !important;
}

.maintenance-form textarea::placeholder {
  color: #818282 !important;
  font-family: "Noto Sans", sans-serif !important;
  font-size: 1em !important;
}

.maintenance-form input::placeholder,
.maintenance-form textarea::placeholder {
  color: #818282 !important;
  font-family: "Noto Sans", sans-serif !important;
}

.maintenance-form #nf-field-8-wrap {
  text-align: center;
}

.maintenance-form #nf-field-8 {
  background: #0f4d8f !important;
  border-radius: 24px !important;
  color: white !important;
  font-family: "Noto Sans", sans-serif !important;
  font-weight: 600 !important;
  height: 47px !important;
  opacity: 0.92 !important;
  padding: 0px 35px !important;
  transition: 1s all ease;
}

.maintenance-form #nf-field-8:hover {
  -webkit-box-shadow: 0px 0px 11px 0px rgba(137, 181, 224, 1) !important;
  -moz-box-shadow: 0px 0px 11px 0px rgba(137, 181, 224, 1) !important;
  box-shadow: 0px 0px 11px 0px rgba(137, 181, 224, 1) !important;
  transform: scale(1.1) !important;
}

.maintenance {
  background-color: white !important;
}

.maintenance-form .nf-error-msg {
  font-family: "Noto Sans", sans-serif !important;
}

.maintenance-form .nf-error.field-wrap .nf-field-element:after {
  border-radius: 100px !important;
  right: 2px !important;
}

.maintenance-form .nf-form-content .label-above .nf-field-label {
  display: none !important;
}

.about .dedicated {
  padding: 150px 0;
}

.about .dedicated .three-images-wrapper {
  align-items: center;
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 60px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 50px;
  margin-top: 100px;
}

.reviews-three-images .three-images-wrapper {
  align-items: center;
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 60px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.reviews-three-images {
  padding: 80px 0;
}

.about .dedicated .three-images-wrapper .gray-back {
  border-radius: 34px;
  height: 160px;
  width: 160px;
}

.about .over .centered {
  align-items: flex-start;
  flex-direction: column;
  padding: 100px 50px;
}

.about .what-we-do-about {
  padding: 100px 0;
}

.about .what-we-do-about .action-1 {
  margin: 0;
}

.about .what-we-do-about .action-1 a {
  color: #000000de !important;
}

.about .what-we-do-about .divided-wrapper {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 60px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
}

.about .what-we-do-about .divided-wrapper .text-wrapper .headline-2 {
  margin: 0 0 5px 0;
}

.about .visit-us {
  padding: 100px 0 0 0;
}

.about .visit-us .regular-text {
  margin: 0;
}

.about .visit-us .divided-wrapper {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 60px;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 0;
}

.about .visit-us iframe {
  min-height: 400px;
}

.blog .blog-categories {
  padding: 35px 0;
}

.blog .category-wrapper {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  padding: 70px 0;
}

.blog .single-category-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 32px 50px;
  transition: 1s all ease;
}

.blog .single-category-wrapper:hover {
  -webkit-box-shadow: 0px 0px 11px 0px rgba(137, 181, 224, 1) !important;
  -moz-box-shadow: 0px 0px 11px 0px rgba(137, 181, 224, 1) !important;
  box-shadow: 0px 0px 11px 0px rgba(137, 181, 224, 1) !important;
}

.blog .single-category-wrapper img {
  height: 100px;
  width: 100px;
}

.blog .last-entries-wrapper {
  padding: 50px 0 0 0;
}

.blog .basic-pagination {
  text-align: center;
}

.blog .blog-entries-wrapper .wp-block-latest-posts__list,
.blog .blog-entries-wrapper {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  padding: 70px 0 0 0;
}

.blog .blog-entries-wrapper .ablog__meta {
  display: none;
}

.blog .blog-entries-wrapper .ablog__text {
  border: none;
}

.blog .blog-entries-wrapper .ablog-4 {
  box-shadow: none;
}

.blog .blog-entries-wrapper .ablog__text2 {
  padding: 10px 0;
}

.blog .blog-entries-wrapper .ablog__text--title4 {
  color: #000000de;
  font-family: "Noto Sans", sans-serif;
  font-size: 2.4em;
  font-weight: bold;
  max-width: none;
}

.blog .blog-entries-wrapper .wp-block-latest-posts li a {
  color: #000000de;
  font-family: "Noto Sans", sans-serif;
  font-size: 2.4em;
  font-weight: bold;
  max-width: none;
}

.blog .blog-entries-wrapper .wp-block-latest-posts__featured-image {
  margin-bottom: 15px;
}

.blog .blog-entries-wrapper .wp-block-latest-posts__post-excerpt,
.blog .blog-entries-wrapper .post-text {
  color: #000000de;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.4em;
  margin-top: 30px;
}

.blog a:hover {
  text-decoration: none !important;
}

.footer {
  padding: 10px 0;
  text-align: center;
}

.footer .footer-link {
  color: #707070 !important;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
  margin: 10px 0;
  max-width: none;
  padding: 0 10px;
  text-decoration: none !important;
}

.footer .icon-wrapper i {
  color: #707070 !important;
  font-size: 2em;
}

.footer .footer-link.bordered {
  border-left: 1px solid #70707080;
}

.footer-area,
.copyright-area {
  display: none;
}

.side-info {
  background: #215a97;
}

.single-post .circle-wrapper {
  background-color: #017dd8;
  border-radius: 100px;
  height: 67px;
  margin: 25px auto;
  width: 67px;
}

.single-post .small-text {
  margin: auto;
  text-align: center;
}

.single-post .news-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.single-post .image-wrapper {
  margin-bottom: 30px;
  text-align: center;
}

.single-post p {
  font-family: "Noto Sans", sans-serif;
  max-width: none;
}

.single-post .article-text {
  width: 100%;
}

.single-post .article-text p {
  color: #000000de;
  font-family: "Noto Sans", sans-serif;
  text-align: justify;
}

.single-post #breadcrumbs {
  margin-top: 30px;
}

.single-post #breadcrumbs a,
.single-post #breadcrumbs .breadcrumb_last {
  color: #0f4d8f;
  font-weight: 600;
}

.single-post .post-navigation {
  margin-top: 50px;
  width: 100%;
}

.single-post .nav-links {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.single-post .nav-previous,
.single-post .nav-next {
  background: #eeeeee;
  color: #808080;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  padding: 30px 50px;
  transition: 1s all ease;
}

.single-post .nav-previous a,
.single-post .nav-next a {
  color: #808080 !important;
  font-family: "Noto Sans", sans-serif;
}

.single-post .nav-previous:hover a,
.single-post .nav-next:hover a {
  color: #0f4d8f !important;
}

.single-post .nav-previous:hover,
.single-post .nav-next:hover {
  -webkit-box-shadow: 0px 0px 11px 0px rgba(137, 181, 224, 1) !important;
  -moz-box-shadow: 0px 0px 11px 0px rgba(137, 181, 224, 1) !important;
  box-shadow: 0px 0px 11px 0px rgba(137, 181, 224, 1) !important;
}

.single .single-post-divider {
  border-bottom: 5px solid #dedede;
  border-top: none;
  margin: 50px 0;
  max-width: none;
  width: 100%;
}

.category .blog-entries-wrapper {
  display: block;
  padding: 0;
}

.addtoany_content {
  margin: 30px 0 0 0;
  text-align: center;
}

.addtoany_list a {
  padding: 0 10px;
}

.blog .blog-entries-wrapper ul {
  display: contents;
  list-style: none;
}

.blog .blog-entries-wrapper ul .ablog__text--title4 {
  line-height: 1;
}

.blog .blog-entries-wrapper ul .image img {
  margin-bottom: 15px;
  width: 100%;
}

.faqs .questions {
  padding: 100px 0 0 0;
}

.faqs .accordion-wrapper {
  padding: 80px 0;
}

.faqs .accordion-wrapper .card {
  border: none;
  margin: 25px 0;
}

.faqs .accordion-wrapper .card-header {
  align-items: center;
  background-color: #dedede;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
}

.faqs .accordion-wrapper .card-header,
.faqs .accordion-wrapper .card-body {
  padding: 50px 40px;
}

.faqs .accordion-wrapper .card-header h3 {
  margin: 0;
}

.faqs .accordion-wrapper .card-body {
  background-color: #eeeeee;
}

.faqs .accordion-wrapper .fa-chevron-down {
  align-items: center;
  background: black;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 50px;
  justify-content: center;
  width: 50px;
}

#ninja_forms_required_items,
.nf-field-container {
  margin-bottom: 15px !important;
}

.contact .contact-section-form {
  padding: 100px 0 30px 0;
}

.contact .divided-wrapper {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 60px;
  grid-template-columns: repeat(2, 1fr);
}

.contact .visit-us .regular-text {
  margin: 0;
}

.contact .images-wrapper-section {
  margin-top: 60px;
}

.contact .images-wrapper-section img {
  margin: 5px;
}

.reviews-section .cards-reviews {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 80px;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 0 0 0;
}

.reviews-section {
  padding: 80px 0;
}

.reviews-section .cards-reviews .card {
  background-color: white;
  border: none;
  border-radius: 34px;
  padding: 35px;
  position: relative;
}

.reviews-section .logo-review {
  position: absolute;
  right: 25px;
  top: 15px;
  width: 35px;
}

.reviews-section .fa-star {
  color: #f9a719;
  font-size: 2em;
}

.reviews-section .cards-reviews .headline-3 {
  margin: 0;
}

.reviews-section .star-wrapper.divided-wrapper {
  align-items: center;
  display: flex;
}

.reviews-section .star-wrapper.divided-wrapper p {
  margin: 0;
}

.reviews-section .star-wrapper.divided-wrapper .fa-star {
  margin: 0 7.5px;
}

.reviews-section .star-wrapper {
  margin-bottom: 25px;
}

.reviews-section .carousel-control-next,
.reviews-section .carousel-control-prev {
  display: flex !important;
  width: fit-content;
}

.reviews-section .carousel-control-prev {
  justify-content: flex-start;
}

.reviews-section .carousel-control-next {
  justify-content: flex-end;
}

.reviews-section .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fffff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.reviews-section .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fffff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.reviews-section .review-wrapper {
  margin: 1rem auto;
  max-width: 700px;
}

.service-description {
  padding: 80px 0;
}

.service-description .service-description-wrapper {
  padding: 50px 0;
}

.service-description .service-description-wrapper .row {
  align-items: center;
  justify-content: center;
}

.service-description .fa-circle {
  color: #0f4d8f;
  font-size: 22px;
  margin-right: 15px;
}

.service-description .circle-text {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}

.service-description .circle-text.start-flex {
  align-items: flex-start;
  margin: 30px 0;
}

.service-description .circle-text p {
  margin: 0;
}

.home .service-description {
  padding: 0;
}

.blog .no-results {
  display: none;
}

.blog .blog-entries-wrapper ul .image img {
  max-height: 300px;
}

.ablog__img img {
  max-height: 300px;
}

.wp-block-latest-posts__featured-image img {
  max-height: 300px;
}
